{% extends "base.html" %}
{% block title %}Editar {{object.first_name }}{% endblock %}
{% block content %}
<h2> {{ object.first_name }} </h2>
<h3> {{ object.last_name }} </h3>
<h4> Curso: {{ object.get_grade_display }} </h4>

<h4>Padre o tutor: {{ object.parent }}</h4>

<h1> Editar campos</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Actualizar" class="btn btn-primary">
</form>

<a class="btn btn-danger" href="{% url 'offsprings:delete' pk=offspring.id %}">Borrar</a>
{% endblock content %}