{% extends 'layout.html' %}

{% block content %}

<h1>Ayuda</h1>
<p>Puede solicitar ayuda en la parroquia de Las Tablas en los horarios adecuados</p>

<p>Parroquia Sta. María Soledad Torres Acosta</p>
<br>


<address>
<p><strong>Teléfono:</strong> 913359192</p>
<p><strong>mail-to:</strong> iglesialastablas@me.com</p>
<p><strong>Dirección:</strong></p>
<h4> Calle Viloria de La Rioja 38</h4>
<h4>  28050 Madrid</h4>
<p></p>
<p>Metro Las Tablas, Línea 10</p>
<p>  Metro Ligero ML1</p>
<p>   EMT: 172 – 176</p>
<h4>
  <a href="http://www.archimadrid.es/lastablas/" >http://www.archimadrid.es/lastablas/</a>
</h4>
</address>

{% endblock content %}