{% extends 'layout.html' %}

{% block content %}
<h1>Bienvenido a Catequesis de Las Tablas. Inscripción para primero de primaria.
  </h1>
  <h2>Este es el paso 1 de 2. Es necesario acudir a la parroquia para formalizar la matrícula</h2>
  <h2>Este paso le permite elegir un turno, pero no formaliza la matrícula</h2>
  
  <ul>
    <li> Dé de alta su usuario. Para ello acceda a través de Entrar --> Darse de alta y rellene sus datos. Tendrá que introducir algunos de sus datos como el teléfono o la dirección de correo para que podamos localizarlo</li>
    <li> Asegúrese de introducir un correo electrónico correcto, ya que recibirá las instrucciones para continuar en su correo.</li>
    <li> Añada a sus hijos (o tutelados) como catecúmenos. Sólo los padres y/o el tutor del niño puede añadir los datos a la aplicación. </li>
    <li> Todos los datos son necesarios para dar de alta el niño</li>
    <li> Seleccione al niño y elija uno de los turnos disponibles. Recibirá un correo de confirmación (verifique que no está en SPAM)
    <li> Si ve en la aplicación un turno asignado no hace falta que haga nada más. El niño ya tiene un turno asignado aunque no haya recibido el correo.</li>
  </ul>
  
  <h4><b>
    Aunque haya terminado el proceso en esta página, todavía necesita formalizar la inscripción. Esté atento a los avisos de la parroquia, tendrá que acercarse a la misma para la formalización del 9 al 13 de Septiembre en horario de despacho.
  </b></h4>

  <h4>Los datos utilizados en esta aplicación serán eliminados al terminar el proceso. Sólo se utilizan para identificar el turno y ayudar en la formalización de la matrícula</h4>

  <p> Unidos en Cristo.</p>


{% endblock content %}